.form-main {
  height: calc(100vh - 100px);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Aldrich', sans-serif;
}

.form-main .top-header {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-size: 50px;
  color: white;
  margin-bottom: 0px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 7px black, 1px -1px 7px black, -1px 1px 7px black, -1px -1px 7px black;
}

.form-main .bottom-header {
  letter-spacing: 1px;
  font-size: 50px;
  color: black;
  margin-top: 0px;
  text-shadow: 0 0 30px #1DEE19;
  -webkit-filter: drop-shadow(20px 10px 6px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(20px 10px 6px rgba(0, 0, 0, 0.6));
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #1DEE19;
}

.form-main .song-form {
  border: 5px solid black;
  margin: 10px;
  padding: 20px;
  color: black;
  text-align-last: left;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.form-main .song-form div h4 {
  margin-top: 10px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  text-align-last: center;
  -webkit-filter: drop-shadow(20px 10px 6px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(20px 10px 6px rgba(0, 0, 0, 0.6));
  -webkit-text-stroke-width: .1px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.6);
}

.form-main .song-form .artist-input {
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 400px;
  padding: 5px;
  border: 2px solid black;
  margin-left: 35px;
}

.form-main .song-form .song-input {
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 400px;
  padding: 5px;
  border: 2px solid black;
  margin-left: 50px;
}

.form-main .song-form .special-input {
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 400px;
  padding: 5px;
  border: 2px solid black;
}

.form-main .song-form button {
  height: 30px;
  width: 100px;
  color: white;
  background-color: black;
  font-size: 16px;
  padding: 0 10px;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 230px;
  text-align-last: center;
}

.form-main .song-form button:hover {
  border: 1px solid #1DEE19;
  -webkit-box-shadow: 0 0 30px #1DEE19;
          box-shadow: 0 0 30px #1DEE19;
}

@media screen and (max-width: 735px) {
  .form-main .top-header {
    font-size: 30px;
    margin-top: 10px;
  }
  .form-main .bottom-header {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .form-main .song-form {
    width: 80%;
    border: 3px solid black;
    padding: 10px;
    color: rgba(0, 0, 0, 0.6);
  }
  .form-main .song-form h4 {
    margin-top: 10px;
    font-size: 15px;
    color: black;
    text-align-last: center;
  }
  .form-main .song-form .artist-input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 75%;
    padding: 1px;
    border: 2px solid black;
  }
  .form-main .song-form .song-input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 75%;
    padding: 1px;
    border: 2px solid black;
    height: 30px;
    margin-left: 35px;
  }
  .form-main .song-form .special-input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 75%;
    padding: 1px;
    border: 2px solid black;
    height: 60px;
    margin-left: 35px;
  }
  .form-main .song-form button {
    height: 30px;
    width: 100px;
    color: white;
    background-color: black;
    font-size: 16px;
    padding: 0 10px;
    border: none;
    margin-left: 130px;
  }
  .form-main .song-form button:click {
    border: 1px solid #1DEE19;
    -webkit-box-shadow: 0 0 30px #1DEE19;
            box-shadow: 0 0 30px #1DEE19;
  }
}
/*# sourceMappingURL=Form.css.map */