@import "../../Styles/colors.scss", "../../Styles/mixins.scss"; 


.form-main {
    @include main-page; 
    
    .top-header {
        -webkit-text-fill-color: $white;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: $black;
        font-size: 50px;
        color: $white;
        margin-bottom: 0px;
        letter-spacing: 1px;;
        text-shadow:
            1px  1px 7px $black,
            1px -1px 7px $black,
            -1px  1px 7px $black,
            -1px -1px 7px $black;
    }

    .bottom-header {
        letter-spacing: 1px;
        font-size: 50px;
        color: $black;
        margin-top: 0px;
        text-shadow: 0 0 30px $green; 
        filter: drop-shadow(20px 10px 6px $grey);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $green;
    }

    .song-form {
        border: 5px solid $black; 
        margin: 10px;
        padding: 20px; 
        color: $black;
        
        text-align-last: left;
        box-shadow: 0 0 20px $grey;
        

        div h4 {
            margin-top: 10px;
            font-size: 20px;
            color: $grey;
            text-align-last: center;
            filter: drop-shadow(20px 10px 6px $grey);
            -webkit-text-stroke-width: .1px;
            -webkit-text-stroke-color: $grey;
        }

        .artist-input {
            height: 30px; 
            @include add-input;
            margin-left: 35px;
        }

        .song-input {
            height: 30px; 
            @include add-input;
            margin-left: 50px;
        }

        .special-input {
            height: 100px; 
            @include add-input;
        }

        button {
            @include all-buttons;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 230px;
            text-align-last: center;
        }

    }
}


//RESPONSIVE 
@media screen and (max-width: 735px) {

    .form-main {

        .top-header {
            font-size: 30px;
            margin-top: 10px;
        }
    
        .bottom-header {
            font-size: 30px;
            margin-bottom: 10px;
        }

        .song-form {
            width: 80%;
            border: 3px solid $black; 
            padding: 10px; 
            color: $grey;
           
    
            h4 {
                margin-top: 10px;
                font-size: 15px;
                color: $black;
                text-align-last: center;
            }
    
            .artist-input {
                @include responsive-form-input;
            }
    
            .song-input {
                @include responsive-form-input;
                height: 30px; 
                margin-left: 35px;
            }
    
            .special-input {
                @include responsive-form-input;
                height: 60px; 
                margin-left: 35px;

            }
    
            button {
                @include responsive-buttons;
                margin-left: 130px;

            }
    
        }


    }
   

    
}
