@import "../../Styles/colors.scss", "../../Styles/mixins.scss"; 

.tip-page {
    @include main-page;
}

.black-header {
    font-size: 70px;
        color: $white;
        margin-bottom: 0;
        margin-top: 0;
        text-shadow:
            1px  1px 15px $black,
            1px -1px 15px $black,
            -1px  1px 15px $black,
            -1px -1px 15px $black;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: $black;
}

.green-header {
    font-size: 150px;
        color: $black;
        margin-top: 0px;
        margin-bottom: 0;
        text-shadow: 0 0 20px $green; 
        filter: drop-shadow(20px 10px 6px $grey);
        -webkit-text-stroke-width: .9px;
        -webkit-text-stroke-color: $green;
}

.tip-button {
    height: 75px; 
    width: 100px; 
    margin: 20px; 
    margin-bottom: 100px;    
}

//RESPONSIVE 

@media screen and (max-width: 735px) {
    .black-header {
        font-size: 50px;
    }
    
    .green-header {
        font-size: 100px;
    }
}