@import "../../Styles/colors.scss", "../../Styles/mixins.scss"; 


.queue {
    display: flex; 
    flex-direction: row;
    width: 80vw; 

}

.test {
    display: flex; 
    flex-direction: row;
    background-color: $green;
    width: 100vw; 
    justify-content: space-evenly;
    font-size: 16px; 
}