@import "../../Styles/colors.scss", "../../Styles/mixins.scss"; 


.queue {
    display: flex; 
    flex-direction: row;
    width: 70vw; 

}

.row {
    display: flex; 
    flex-direction: row;
    background-color: $black;
    width: 70vw; 
    height: 40px; 
    justify-content: space-evenly;
    text-align: center;
    font-size: 18px; 
    color: $white;
    border: 1px solid $green;
    margin: 6px; 

    &:hover {
        box-shadow: 0 0 30px $green; 
    }
  
}

.column {
    width: 30%; 
}


@media screen and (max-width: 735px) {

    .queue {
        width: 100%; 
    
    }
    
    .row {
        font-size: 14px; 
        color: $white;
        border: 1px solid $green;
        margin: 6px; 
    
        &:click {
            box-shadow: 0 0 30px $green; 
        }
      
    }
    
    .column {
        width: 50%; 
    }

}