@import "../../Styles/colors.scss", "../../Styles/mixins.scss"; 


.queue {
    display: flex; 
    flex-direction: row;
    background-color: $green;
    width: 100vw; 
}

.test {
    display: flex; 
    flex-direction: row;
    background-color: red;
    width: 100vw; 

}