@import "../../Styles/colors.scss", "../../Styles/mixins.scss"; 

.auth-main {
    @include main-page; 

    h1 {
        font-size: 150px;
        color: $white;
        margin-bottom: 0px;
        text-shadow:
            1px  1px 15px $black,
            1px -1px 15px $black,
            -1px  1px 15px $black,
            -1px -1px 15px $black;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: $black;
    }

    h2 {
        font-size: 100px;
        color: $black;
        margin-top: 0px;
        text-shadow: 0 0 20px $green; 
        filter: drop-shadow(20px 10px 6px $grey);
        -webkit-text-stroke-width: .9px;
        -webkit-text-stroke-color: $green;
    }
}

.login-container {   
    flex-direction: column;
    height: 100%; 
    width: 100%;
    margin-bottom: 100px; 

    button {
        @include all-buttons; 
    }

    form {
        color: $grey; 
        margin-bottom: 50px; 
    }

    input {
        @include all-inputs
    }

    p {
        color: $grey;
        font-size: 16px; 
    }
}

.register-container {
    flex-direction: column;
    height: 100%; 
    width: 100%; 
    margin-bottom: 100px; 

    button {
        @include all-buttons; 
    }

    h3 {
        color: $grey;
        margin-top: 0;
    }

    form {
        color: $grey; 
        margin-bottom: 10px; 
    }

    span {
        display: block; 
        margin: 10px; 
        
        label {
            font-size: 16px;
            color: $grey;
        }

    }
    
    input[type="text"] {
        @include all-inputs;        
    }

    p {
        color: $grey;
        font-size: 16px;  
    }
}


//RESPONSIVE  
@media screen and (max-width: 735px) {
    .auth-main {
        h1 {
            font-size: 75px; 
            width: 100%;  
        }

        h2 {
            font-size: 50px;
        }

    }

    // login 
    .login-container {  
        height: 70%; 
        width: 90%;
        margin-bottom: 50px; 
        margin-top: 30px;
    
        form {
            color: $black; 
            margin: 40px; 
        }
    
        input {
            height: 50%; 
            width: 100%; 
            align-items: center;
            margin: 20px auto;
            font-size: 14px;
        }
    
        p {
            color: $black;
        }
    }

    //register
    .register-container {
        height: 70%; 
        width: 90%; 
        margin-bottom: 50px; 
    
        button {
            @include responsive-buttons; 
        }
    
        h3 {
            color: $black;
            margin-top: 5px;
        }
    
        form {
            color: $black; 
            margin-bottom: 10px; 
        }
    
        span {
            display: block; 
            margin: 5px auto; 
            
            label {
                font-size: 16px;
                color: $grey;
            }
    
        }
        
        input[type="text"] {
            height: 50%; 
            width: 90%; 
            align-items: center;
            margin: 10px auto;
            font-size: 14px;        }

        p {
            color: $black; 
            margin-top: 20px; 
        }
    
    }    

}





